#slogan {
  color: white;
  font-family: sans-serif;
}

.jumbotron {
  text-align: center;
  background-image: url("../assets/backgrounds/landing.jpg");
  background-size: cover;
  margin: 0
}

h4{
  font-style: italic;
}

#drinkshead{
  text-align: right;
}
