#slogan {
  color: white;
  font-family: sans-serif;
}

.jumbotron {
  text-align: center;
  background-image: url("../assets/backgrounds/landing.jpg");
  background-size: cover;
  margin: 0;
}

h4 {
  font-style: italic;
}

#drinkshead {
  text-align: right;

}

#happyrow {
  text-align: center;
  padding: 2%;
}

#partyrow {
  text-align: center;
  background-color: orange;
  color: white;
  background-size: cover;
  height: 84px;
}

#breakfasttab {
  height: 160px;
  background-image: url("../assets/foodtop/breakfast.jpg");
  background-size: cover;
  color: white;
  font-size: 40px;
  text-align: center;
}

#lunchtab {
  height: 160px;
  background-image: url("../assets/foodtop/lunch.jpg");
  background-size: cover;
  color: white;
  font-size: 40px;
  text-align: center;
}

#dinnertab {
  height: 160px;
  background-image: url("../assets/foodtop/dinner.jpg");
  background-size: cover;
  color: white;
  font-size: 40px;
  text-align: center;
}

.labels {
  color: white;
  padding: 15%;
}

#section5background {
  height: 550px;
  background-image: url("../assets/backgrounds/foodsBg.jpg");
  background-size: cover;
  color: white;
  font-size: 40px;
  text-align: center;
}
#section6background {
  height: 400px;

  background-size: cover;
  color: white;
  font-size: 40px;
  text-align: center;
}
#section7background {
  height: 200px;
background-image: url("../assets/backgrounds/foodsBg.jpg");  background-size: cover;
  color: white;
  font-size: 40px;
  text-align: center;
}
#section8background {
  height: 350px;
  background-color: red;
  background-size: cover;
  color: white;
  font-size: 40px;
  text-align: center;
}

#drinksimage{
  height: 400px;
  width: 2000px;
}
